#!/usr/bin/env python

PACKAGE = "first_project"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# Create an enum for the two string values
odom_enum = gen.enum([
    gen.const("wheel_odom", int_t,  0, "Wheel Odometry"),
    gen.const("gps_odom", int_t, 1, "GPS Odometry")
], "An enum to choose between two Odometry")

# Add the parameter edited via the enum
gen.add("int_param", int_t, 0, "An integer parameter edited via an enum", 0,0,1, edit_method=odom_enum)

exit(gen.generate(PACKAGE, "first_project", "parameters"))